#city-select{
  width: 100%;
  background-color: #1e202b;
  color: white;
  font-size: 16pt;
}

.location{
  font-size: 16pt;
  text-align: center;
}
.date{
  text-align: center;
}

.percent{
  font-size: 12pt;
  width: 100%;
  font-weight: 100;
  position: relative;
  left: 40%;
}

.my-frame{
  min-height: 900px;
}

.frame-block{
  padding: 0 !important;
}

iframe
{
  border: none !important;
  width: 100%;
  height: 100%;
  min-height: 600px;
}